<div class="container">
  <h1> Products </h1>
  <h2>
    Page:
    {{paginateData.page}}
    {{user.cid}}
  </h2>
  <div class="grid">
    <a href="{{paginateData.prevPage}}"  {{#unless paginateData.hasPrevPage}} disabled {{/unless}}  role="button" >Prev </a>
        <a href="{{paginateData.nextPage}}"  {{#unless paginateData.hasNextPage}} disabled {{/unless}}  role="button" >Next </a>
    <h2>totalPages: {{paginateData.totalPages}}</h2>
    
  </div>

    
  </div>
  {{#each paginateData.payload}}
    <article>
      <p>
        <strong>
          Title:
          {{title}}
        </strong>
      </p>
      <p>
        <strong>
          category:
          {{category}}

        </strong>
      </p>
      <p>
        <strong>
          description:
          {{description}}

        </strong>
      </p>
      <p>
        <strong>
          stock:
          {{stock}}

        </strong>
      </p>
      <p>
        <strong>
          price:
          {{price}}

        </strong>
      </p>
    </article>

  {{/each}}
</div>